.navbar-inverse{
    background-color: rgba(4, 2, 3, 0.46) !important;
    border-color: white !important;    
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
ul li:hover {
    background-color: #d04444;
}
a.active{
    background-color: #b56666 !important;
    /*color: red !important;*/
}
/*a.active[_ngcontent-c2]{
    color: white;
}*/
.dropdown-menu{
    background-color: rgba(4, 2, 3, 0.46) !important; 
  
}
.dropdown-menu li a{
    color: white !important;
}
.dropdown-menu li:hover a{
    background-color: #d04444 !important;
    color: white !important;
}