<div class="container well">
    <div class="row">
        <div class="col-md-10 col-md-offset-1"> 
            <h1 class="entry-title">School History</h1>
            <div class="content">
              <p >Our renowned institution was founded as a primary school on 14th April 1993 by Mr. R.B.Laxmana Rao along with Kanchipati Jaganadha Rao.  Many munificent persons like Sri Mukka Mahalaxmi Naidu garu ,R.Prasad Rao  played a pivotol role in the growth of Town High School.</p>
            </div>
        </div>   
    </div>
</div>
  